{% extends "base.html" %}

{% block title %}Crear Vehículo{% endblock %}

{% block content %}
<h1>Crear Vehículo</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear Vehículo</button>
</form>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Vehículo</title>
</head>
<body>
    <h1>Crear Vehículo</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear Vehículo</button>
    </form>
</body>
</html> -->