{% extends "base.html" %}

{% block title %}Vehículos{% endblock %}

{% block content %}
<h1>Lista de Vehículos</h1>
<ul>
    {% for vehiculo in vehiculos %}
        <li>{{ vehiculo.vin }} - {{ vehiculo.version }}</li>
    {% empty %}
        <li>No hay vehículos registrados.</li>
    {% endfor %}
</ul>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vehículos</title>
</head>
<body>
    <h1>Lista de Vehículos</h1>
    <ul>
        {% for vehiculo in vehiculos %}
            <li>{{ vehiculo.vin }} - {{ vehiculo.version }}</li>
        {% empty %}
            <li>No hay vehículos registrados.</li>
        {% endfor %}
    </ul>
</body>
</html> -->
